.add-quote{
  width: 500px;
  display: inline-block;
}

#author{
  margin-left: 318px;
}
#submit{
  margin-left: 425px;
}

.errors {
  color : red;
  display: inline-block;
  vertical-align: top;
  margin-top: 70px;
  padding: 20px;
}
h5 {
  padding: 0;
  margin: 8px
}
